<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="assets/socket.js"></script>
    <link rel="shortcut icon" href="assets/favicon.ico">
    <link rel="stylesheet" href="assets/style.css">
    <title>Bulbs</title>
</head>

<body>
    <div class="heading">
        <img src="assets/si-bg-logo.png" alt="">
    </div>

    <div class="buttons">
        <input class="btn" type="checkbox" id="switch1" /><label for="switch1">Toggle</label>
        <input class="btn" type="checkbox" id="switch2" /><label for="switch2">Toggle</label>
        <input class="btn" type="checkbox" id="switch3" /><label for="switch3">Toggle</label>
        <input class="btn" type="checkbox" id="switch4" /><label for="switch4">Toggle</label>
    </div>
    <script src="assets/script.js"></script>
</body>

</html>